<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>localhost</MSDeployServiceURL>
    <DeployIisAppPath>SJSU InfoSec Club</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>InProc</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName />
    <_SavePWD>False</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="SQLi1" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=CALVIN\INFOSECSQLSERVER;Initial Catalog=SQLI1;User ID=SQLi1;Password=guess" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\SQLi1_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=CALVIN\INFOSECSQLSERVER; Initial Catalog=SQLI1; User Id=SQLi1; Password=guess" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="SQLi2" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=CALVIN\INFOSECSQLSERVER;Initial Catalog=SQLI2;User ID=SQLi2;Password=guess" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\SQLi2_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=CALVIN\INFOSECSQLSERVER; Initial Catalog=SQLI2; User Id=SQLi2; Password=guess" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="InfoGuest" Order="6" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=CALVIN\INFOSECSQLSERVER;Initial Catalog=InfoSecurity;User ID=InfoGuest;Password=toor" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\InfoGuest_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=CALVIN\INFOSECSQLSERVER; Initial Catalog=InfoSecurity; User Id=InfoGuest; Password=toor" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)InfoGuest-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SQLi1-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SQLi2-Web.config Connection String" />
  </ItemGroup>
</Project>